body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul > li {
  padding-bottom: .3rem;
}

.btn-jump:focus {
  outline: none;
}

.btn-jump {
  cursor: pointer;
  font: 14px "Century Gothic", Futura, sans-serif;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  padding: .1rem .4rem;
  font-size: .75rem;
  line-height: 1.5;
  border-radius: .2rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn-click {
  font-size: .55rem;
}

.status-block {
  background-color: #5cb85c;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.bold-move {
  font-weight: 600;
}

.congrats {
  background: #e0ffd9;
  border-color: #5bd096;
}
